form.form{
    display: table;
    
}
div.form{
    display: table table-row;
    
}
label,input{
    margin-bottom:15px ;
}
label{
    padding-right: 15px;
}
.d1{
    background-color: aqua;
    width: 500px;
    height: 400px;
    padding:10px  ;
    margin:5px;
    font-size: large;
}
.dropdown{
    padding: 10px;
    border: 2px solid black;
    font-size: small;
    width: 100px;
    height: 40px;
}
.dropdown option[value="option1"]{
    font-size: 17px;
    color: red;
}
.dropdown option[value="option2"]{
    font-size: 17px;
    color: green;
}
.dropdown option[value="option3"]{
    font-size: 17px;
    color: blue;
}
.dropdown option[value="option4"]{
    font-size: 17px;
    color: yellow;
}
.dropdown option[value="option5"]{
    font-size: 17px;
    color: pink;
}
input[type=submit]{
    padding: 12px 6px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: blue;
    color: brown;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color: rgb(150, 233, 150);
    color: crimson;
}
