.gmail{
    text-align: right;
}
.images{
   text-align: right;

}
#google{
    text-align: center;
}
.search{
    text-align: center;
}
.button{
    text-align: center;
}
#text{
    border-radius: 10px;
    width: 300px;
    height: 20px;
}